* {
    color: #d9bcb6;
    background-color: #0f1029;
    font-size: 20px;
}

body {
    width: auto;
    margin: 0 auto;
}

#pfp {
    width: 30em;
    height: auto;
    margin-top: 2em;
    margin-right: 5%;
    float: right;
}

h2 {
    text-align: center;
}

.welcome {
    margin-top: 100px;
    text-align: center;
}

#introLarge {
    font-family: Lucida Sans Typewriter;
    font-size: 80px;
}

#intro {
    margin-top: 1%;
    font-size: 45px;
}

#stack {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

ul {
    list-style-type: none;
}

ul#lang li {
    font-size: 40px;
}
  
ul#tool li {
    font-size: 40px;
}

#list {
    height: 700px;
    text-align: center;
}

#projects {
    align-items: center;
    margin-top: 100px;
}

#exp {
    align-items: center;
    margin-top: 100px;
}

#contacts {
    margin-top: 2em;
    text-align: center;
}

.contacts {
    display: flex;
    justify-content: center;
}
  
.contacts a {
    margin: 0 10px;
 }